GoogleSpreadSheet/
netstandard1.6/
Log/
result/
data/
slack/
.hg/
slacktoken.txt
client_secret.json
ClearSpreadSheet.py
CreateTestOverview.py
UploadCSVToGDrive.py
UploadLogToGDrive.py
SetKunaiEnvSecretsVariables.ps1
*.log
*.env